@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

body {
  background-color: #0c0a0a;
  color: rgb(12, 12, 12);
  text-align: center;
}
h1 {
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  animation-timing-function: ease;

  font-size: 40px;
}
section {
  background-color: black;
  color: white;
}
button {
  background-color: black;
  color: white;
  border: 2px solid cyan;
  margin-left: 5px;
}
ul {
  background-color: white;
  font-size: 20px;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}
form {
}
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

div {
  border: 2px solid beige;
  margin-left: 25%;
  margin-right: 25%;
}

button {
  transition-timing-function: linear;
}
